<h1>Garbages#index</h1>

<div class="row">
  <div class="col-12">
    <% @garbages.each do |garbage| %>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"><%= garbage.title %></h3>
        <div class="card-text">
          <span class="h4"><%= garbage.week %></span>
          <span class="h5">
            <%= garbage.alarm_time.strftime("%m:%d") if garbage.alarm_time %>
          </span>
        </div>
        <%= link_to '編集', {controller: :garbages, action: :edit, id: garbage.id}, class: "btn btn-primary mt-2" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<a href="/garbages/new">新規</a>